body {
	margin: 0;
	/* so text can't be selected etc: */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container {
  background: rgb(226, 251, 236);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom:30px;
  padding-top: 5px;
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.nopadding {
   padding-left: 0 !important;
   padding-right: 0 !important;
   margin: 0 !important;
}

.clock {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.clock:after {
  background: #000;
  border-radius: 50%;
  border: 1px solid white;
  content: "";
  position: absolute;
  left: 205px;
  top: 309px;
  width: 20px;
  height: 20px;
  z-index: 10;
}

.minutes-container, .hours-container, .seconds-container {
  /* let's position everything over the clockface */
  position: absolute;
  top: 162px;	
  /* top: 204px; */
  right: 0;
  bottom: 0;
  left: 81px;
  width:60%;
  height:60%;
}

.hours {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 4%;
	border: 1px solid white;
}

.minutes {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 3%;
	border: 1px solid white;
}

.seconds {
  background: rgb(228,56,56);
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 1%;
  z-index: 8;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.hours-container {
  animation: rotate 43200s infinite linear;
}

.minutes-container {
  transition: transform 0.3s cubic-bezier(.4,2.08,.55,.44);
}
.seconds-container {
  transition: transform 0.2s cubic-bezier(.4,2.08,.55,.44);
}

#sidemenu .btn, #right-side-buttons .btn {
	width:80px;
	height:80px;
	border-radius: 10px;
	border-bottom: 3px solid #ccc;
	border-left: 3px solid #ccc;
	margin-bottom: 10px;
}

#right-side-buttons .btn:first-child{
	margin-top: 180px;
}

#sidemenu .bottom, .margin-top-alot {
	margin-top: 80px;
}

#sidemenu .btn img {
	width:60px;
	height:60px;
}

#sidemenu .btn:hover, #right-side-buttons .btn:hover {
    transform: scale(1.08, 1.08);
    opacity: 1;
}

#play-sound-again:hover {
	transform: scale(1.05, 1.05);
}

#play-sound-again:active {
	transform: scale(0.95, 0.95);
}

#sidemenu .btn:focus, #right-side-buttons .btn:focus {
}

#right-side-buttons .glyphicon {
	font-size: 30px;
}

.glyphicon-home {
	padding-top: 15px;
}

.glyphicon-volume-up {
	font-size: 70px;
	padding-top: 30px;
}

#gamename {
	font-size: 50px;
	color: rgb(178, 0, 255);
	margin: 0px;
}

#gameinstructions, .index-description-clockface-text, .index-description-cpu-text {
	margin-top:0px;
}

#game-left-div {
	position: relative;
}

.cpu-clock-img {
	position: relative;
	/*
	width: 287px;
	height: 393px;
	*/
	width: 265px;
	height: 363px;
	margin-bottom: 5px;
}

#cpu-clock-time-seconds, #cpu-clock-time-minutes {
	position: absolute;
	font-family: 'VT323', sans-serif;
}

#cpu-clock-time-minutes {
	top: 125px;
	left: 90px; /* widest possible string is 99999 and doesn't go out of frame */
	font-size: 55px;
}

#cpu-clock-time-seconds {
	top: 138px;
	left: 85px; /* widest possible string is 99:99:99 and doesn't go out of frame */
	font-size: 40px; /* smaller font to make room for seconds */
}

.clockface-img {
	position: relative;
	width: 414px;
	height: 518px;
}

#game-right-div {
	width:444px;
}

.digital-clock-input {
	margin-left:5px;
	margin-bottom:5px;
	font-size:20px;
}

.digital-clock-delete {
	color:grey;
	font-weight:bold;
}

.index-description-cpu-text {
	padding-left: 100px;
}

.index-description-clockface-text {
	padding-left: 135px;
}

.draggable {
	width: 60px;
	height: 60px;
	padding-left: 5px;
	padding-top: 5px;
	z-index: 100;
	/* idea: change it into text so we get this:
	text-shadow: 10px 10px 5px #888888; */
	position: absolute;
}

.draggable:hover {
	background-color: rgba(191, 165, 191, 0.4);
	border-radius: 50%;
}

.draggable:active {
	background-color: transparent;
	/*
	probably better doing like trello cards: leaving a dark trace from where you took the thing...
	box-shadow: -10px 10px 5px #888888;
	border-radius: 50%;
	*/
}

.draggable, .grab {
  cursor: hand;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.grabbing {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* Prevent the text contents of draggable elements from being selectable. */
.draggable, img {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.droppable {
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

/* Rather PRECISE locations for the hours on the clockface: */
#drop-spot-1, #drop-spot-11 {
	top: 190px;
}
#drop-spot-1, #drop-spot-5 {
	left: 243px;
}
#drop-spot-2, #drop-spot-10 {
	top: 233px;
}
#drop-spot-2, #drop-spot-4 {
	left: 285px;
}
#drop-spot-3, #drop-spot-9 {
	top: 290px;
}
#drop-spot-3 {
	left: 305px;
}
#drop-spot-4, #drop-spot-8 {
	top: 347px;
}
#drop-spot-5, #drop-spot-7 {
	top: 390px;
}
#drop-spot-6 {
	top: 405px;
}
#drop-spot-6, #drop-spot-12 {
	left: 185px;
}
#drop-spot-7, #drop-spot-11 {
	left: 127px;
}
#drop-spot-8, #drop-spot-10 {
	left: 84px;
}
#drop-spot-9 {
	left: 65px;
}
#drop-spot-12 {
	top: 170px;
}

/* somewhat ARBITRARY places for the drag-items: */
#drag-item-1 {
	top: 100px;
	left: 30px;
}
#drag-item-2 {
	top: 290px;
	left: 15px;
}
#drag-item-3 {
	top: 15px;
	left: 230px;
}
#drag-item-4 {
	top: 290px;
	left: 100px;
}
#drag-item-5 {
	top: 5px;
	left: 70px;
}
#drag-item-6 {
	top: 300px;
	left: 190px;
}
#drag-item-7 {
	top: 190px;
	left: 5px;
}
#drag-item-8 {
	top: 140px;
	left: 235px;
}
#drag-item-9 {
	top: 130px;
	left: 110px;
}
#drag-item-10 {
	top: 210px;
	left: 130px;
}
#drag-item-11 {
	top: 60px;
	left: 150px;
}
#drag-item-12 {
	top: 230px;
	left: 215px;
}

/* for settings: */
#settings-radio-buttonset1 label, #settings-radio-buttonset2 label { // for big fingers on mobile/tablet
	padding: 7px;
	margin: 7px;
	border-radius: 5px;
}

#settings-radio-buttonset1 span, #settings-radio-buttonset2 span {
	padding:10px;
	width:120px;
}

#mms-logo {
	width:300px;
	padding-top:10px;
	padding-left: 70px;
}