/* stop bounce in ipad somehow... */

/* þarf allskonar css útlitarfix á klukkuna

 .clock-container {
	background: rgba(200,200,200,0.9);
} */



body {
  margin: 0;
}

.container {
  background: rgb(226, 251, 236);
  padding: 30px;
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.clock {
  border-radius: 50%;
  background: #fff url(../media/img/ios_clock.png) no-repeat center;
  background-size: 90%;
  display: inline-block;
  margin: 1%;
  padding-bottom: 31%;
  position: relative;
  top: 50%;
  width: 31%;
  opacity: 1;
}

.clock:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 47.5%;
  top: 47.5%;
  width: 5%;
  height: 5%;
  z-index: 10;
}

.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hours {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%;
}

.minutes {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%;
}

.seconds {
  background: #000; /* rgb(228,56,56); something something red */
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.hours-container {
  animation: rotate 43200s infinite linear;
}

.minutes-container {
  transition: transform 0.3s cubic-bezier(.4,2.08,.55,.44);
}
.seconds-container {
  transition: transform 0.2s cubic-bezier(.4,2.08,.55,.44);
}

#digital-watch {
	padding: 25px;
	width: 550px;
	border: 5px solid navy;
}

#time-is {
	font-family: 'Orbitron', sans-serif;
	font-size: 60px;
	padding: 25px;
	margin:25px;
}

#sidemenu .btn {
	width:80px;
	height:80px;
	border-radius: 10px;
}

#sidemenu .btn img {
	width:60px;
	height:60px;
}

#sidemenu .btn:hover {
    transform: scale(1.08, 1.08);
    opacity: 1;
	background-color: #fff;
}

#sidemenu .btn:focus {
	background-color: #fff;
}

#gamename {
	font-size: 50px;
	color:red;
}