/* stop bounce in ipad somehow... */

/* þarf allskonar css útlitarfix á klukkuna

 .clock-container {
	background: rgba(200,200,200,0.9);
} */



body {
  margin: 0;
}

.container {
  background: rgb(226, 251, 236);
  padding: 30px;
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.nopadding {
   padding-left: 0 !important;
   padding-right: 0 !important;
   margin: 0 !important;
}

.clock {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*
.clock:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 47.5%;
  top: 47.5%;
  width: 5%;
  height: 5%;
  z-index: 10;
} */

.minutes-container, .hours-container, .seconds-container {
/* let's position everything over the clockface */

  position: absolute;
  top: 204px;
  right: 0;
  bottom: 0;
  left: 80px;
	width:60%;
	height:60%;
}

.hours {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 4%;
	border: 1px solid white;
}

.minutes {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 3.5%;
border: 1px solid white;
}

.seconds {
  background: rgb(228,56,56);
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.hours-container {
  animation: rotate 43200s infinite linear;
}

.minutes-container {
  transition: transform 0.3s cubic-bezier(.4,2.08,.55,.44);
}
.seconds-container {
  transition: transform 0.2s cubic-bezier(.4,2.08,.55,.44);
}

#sidemenu .btn, #right-side-buttons .btn {
	width:80px;
	height:80px;
	border-radius: 10px;
	border-bottom: 3px solid #ccc;;
	border-left: 3px solid #ccc;;
	margin-bottom: 10px;
}

#right-side-buttons .btn:first-child{
	margin-top: 180px;
}

#sidemenu .bottom, .margin-top-100 {
	margin-top: 100px;
}

#sidemenu .btn img {
	width:60px;
	height:60px;
}

#sidemenu .btn:hover, #right-side-buttons .btn:hover {
    transform: scale(1.08, 1.08);
    opacity: 1;
	background-color: #fff;
}

#sidemenu .btn:focus, #right-side-buttons .btn:focus {
	background-color: #fff;
}

#right-side-buttons .glyphicon {
	font-size: 30px;
	padding-top: 15px;
}

.glyphicon-volume-up {
	font-size: 70px;
	padding-top: 30px;
}

#gamename {
	font-size: 50px;
	color:red;
	margin-top: 0px;
}

#gameinstructions {
	margin-top:0px;
}

#game-left-div {
	position: relative;
}

.cpu-clock-img {
	position: relative;
	width: 287px;
	height: 393px;
}

#cpu-clock-time {
	position: absolute;
	top: 220px;
	left: 85px;
	font-family: 'Orbitron', sans-serif;
	font-size: 25px;
}

.clockface-img {
	position: relative;
	width: 414px;
	height: 518px;
}

#game-right-div {
	width:444px;
}